.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App-container {
  height: auto;
}

.App-title {
  text-align: center;
}

.App-button {
  display: block;
  border: none;
  padding: 1rem 2rem;
  margin: auto;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
}

.App-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 45px;
  background-color: green;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
